@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?bosgbt');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?bosgbt#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?bosgbt') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?bosgbt') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?bosgbt##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-arrow-bottom-left-o {
  &:before {
    content: $si-arrow-bottom-left-o; 
  }
}
.si-chevron-down {
  &:before {
    content: $si-chevron-down; 
  }
}
.si-folder {
  &:before {
    content: $si-folder; 
  }
}
.si-plus {
  &:before {
    content: $si-plus; 
  }
}
.si-search {
  &:before {
    content: $si-search; 
  }
}
.si-Vector {
  &:before {
    content: $si-Vector; 
  }
}

