@font-face {
  font-family: 'stunicons';
  src:  url('./stunicons.eot?ux1zq4');
  src:  url('./stunicons.eot?ux1zq4#iefix') format('embedded-opentype'),
    url('./stunicons.ttf?ux1zq4') format('truetype'),
    url('./stunicons.woff?ux1zq4') format('woff'),
    url('./stunicons.svg?ux1zq4#stunicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stunicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-activity:before {
  content: "\e932";
}
.si-alert:before {
  content: "\e933";
}
.si-align-justify:before {
  content: "\e934";
}
.si-align-left:before {
  content: "\e935";
}
.si-align-right:before {
  content: "\e936";
}
.si-apps:before {
  content: "\e937";
}
.si-archive:before {
  content: "\e938";
}
.si-award:before {
  content: "\e939";
}
.si-briefcase:before {
  content: "\e93a";
}
.si-calendar:before {
  content: "\e93b";
}
.si-camera:before {
  content: "\e93c";
}
.si-chart-1:before {
  content: "\e93d";
}
.si-chat-history:before {
  content: "\e93e";
}
.si-close:before {
  content: "\e93f";
}
.si-cloud:before {
  content: "\e940";
}
.si-contrast:before {
  content: "\e941";
}
.si-dollar-sign:before {
  content: "\e942";
}
.si-error:before {
  content: "\e943";
}
.si-exit-full-screen:before {
  content: "\e944";
}
.si-flag:before {
  content: "\e945";
}
.si-flash:before {
  content: "\e946";
}
.si-full-screen:before {
  content: "\e947";
}
.si-globe:before {
  content: "\e948";
}
.si-honour:before {
  content: "\e949";
}
.si-image:before {
  content: "\e94a";
}
.si-info:before {
  content: "\e94b";
}
.si-label:before {
  content: "\e94c";
}
.si-layers:before {
  content: "\e94d";
}
.si-link:before {
  content: "\e94e";
}
.si-lock:before {
  content: "\e94f";
}
.si-menu-alt:before {
  content: "\e950";
}
.si-message:before {
  content: "\e951";
}
.si-mute:before {
  content: "\e952";
}
.si-open-door:before {
  content: "\e953";
}
.si-paper-clip:before {
  content: "\e954";
}
.si-pause:before {
  content: "\e955";
}
.si-phone-2:before {
  content: "\e956";
}
.si-pie-chart-2:before {
  content: "\e957";
}
.si-play-1:before {
  content: "\e958";
}
.si-play-2:before {
  content: "\e959";
}
.si-printer:before {
  content: "\e95a";
}
.si-pushpin:before {
  content: "\e95b";
}
.si-reply:before {
  content: "\e95c";
}
.si-restart:before {
  content: "\e95d";
}
.si-send-1:before {
  content: "\e95e";
}
.si-send-2:before {
  content: "\e95f";
}
.si-shopping-bag:before {
  content: "\e960";
}
.si-shopping-cart:before {
  content: "\e961";
}
.si-speaker:before {
  content: "\e962";
}
.si-tag:before {
  content: "\e963";
}
.si-time:before {
  content: "\e964";
}
.si-tv:before {
  content: "\e965";
}
.si-users:before {
  content: "\e966";
}
.si-window:before {
  content: "\e967";
}
.si-zoom-in:before {
  content: "\e968";
}
.si-zoom-out:before {
  content: "\e969";
}
.si-arrow-down:before {
  content: "\e900";
}
.si-arrow-left:before {
  content: "\e901";
}
.si-arrow-right:before {
  content: "\e902";
}
.si-arrow-up:before {
  content: "\e903";
}
.si-behance:before {
  content: "\e904";
}
.si-bookmark:before {
  content: "\e905";
}
.si-chevron-down:before {
  content: "\e906";
}
.si-chevron-left:before {
  content: "\e907";
}
.si-chevron-right:before {
  content: "\e908";
}
.si-chevron-up:before {
  content: "\e909";
}
.si-copyright:before {
  content: "\e90a";
}
.si-dashboard:before {
  content: "\e90b";
}
.si-delete:before {
  content: "\e90c";
}
.si-document:before {
  content: "\e90d";
}
.si-download:before {
  content: "\e90e";
}
.si-dribbble:before {
  content: "\e90f";
}
.si-edit:before {
  content: "\e910";
}
.si-exit:before {
  content: "\e911";
}
.si-eye:before {
  content: "\e912";
}
.si-facebook:before {
  content: "\e913";
}
.si-file-list:before {
  content: "\e914";
}
.si-folder:before {
  content: "\e915";
}
.si-github:before {
  content: "\e916";
}
.si-gmail:before {
  content: "\e917";
}
.si-heart:before {
  content: "\e918";
}
.si-home:before {
  content: "\e919";
}
.si-instagram:before {
  content: "\e91a";
}
.si-linkedin:before {
  content: "\e91b";
}
.si-location-off:before {
  content: "\e91c";
}
.si-location-on:before {
  content: "\e91d";
}
.si-menu-bar:before {
  content: "\e91e";
}
.si-mic:before {
  content: "\e91f";
}
.si-moon:before {
  content: "\e920";
}
.si-more-horizontal:before {
  content: "\e921";
}
.si-more-vertical:before {
  content: "\e922";
}
.si-movie:before {
  content: "\e923";
}
.si-phone:before {
  content: "\e924";
}
.si-plus:before {
  content: "\e925";
}
.si-search:before {
  content: "\e926";
}
.si-settings:before {
  content: "\e927";
}
.si-share:before {
  content: "\e928";
}
.si-slack:before {
  content: "\e929";
}
.si-star:before {
  content: "\e92a";
}
.si-thumbs-down:before {
  content: "\e92b";
}
.si-thumbs-up:before {
  content: "\e92c";
}
.si-twitter:before {
  content: "\e92d";
}
.si-upload:before {
  content: "\e92e";
}
.si-user:before {
  content: "\e92f";
}
.si-video:before {
  content: "\e930";
}
.si-youtube:before {
  content: "\e931";
}
