@font-face {
  font-family: 'stunicons';
  src:  url('stunicons.eot?88t7z9');
  src:  url('stunicons.eot?88t7z9#iefix') format('embedded-opentype'),
    url('stunicons.ttf?88t7z9') format('truetype'),
    url('stunicons.woff?88t7z9') format('woff'),
    url('stunicons.svg?88t7z9#stunicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stunicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-arrow-down:before {
  content: "\e905";
}
.si-arrow-left:before {
  content: "\e906";
}
.si-arrow-right:before {
  content: "\e907";
}
.si-arrow-up:before {
  content: "\e908";
}
.si-copyright:before {
  content: "\e909";
}
.si-dashboard:before {
  content: "\e90a";
}
.si-delete:before {
  content: "\e90b";
}
.si-document:before {
  content: "\e90c";
}
.si-download:before {
  content: "\e90d";
}
.si-exit:before {
  content: "\e90e";
}
.si-eye:before {
  content: "\e90f";
}
.si-facebook:before {
  content: "\e910";
}
.si-github:before {
  content: "\e911";
}
.si-gmail:before {
  content: "\e912";
}
.si-heart:before {
  content: "\e913";
}
.si-instagram:before {
  content: "\e914";
}
.si-linkedin:before {
  content: "\e915";
}
.si-location-off:before {
  content: "\e916";
}
.si-location-on:before {
  content: "\e917";
}
.si-more-horizontal:before {
  content: "\e918";
}
.si-more-vertical:before {
  content: "\e919";
}
.si-movie:before {
  content: "\e91a";
}
.si-settings:before {
  content: "\e91b";
}
.si-share:before {
  content: "\e91c";
}
.si-slack:before {
  content: "\e91d";
}
.si-thumbs-down:before {
  content: "\e91e";
}
.si-thumbs-up:before {
  content: "\e91f";
}
.si-twitter:before {
  content: "\e920";
}
.si-video:before {
  content: "\e921";
}
.si-youTube:before {
  content: "\e922";
}
.si-home:before {
  content: "\e900";
}
.si-menu-bar:before {
  content: "\e901";
}
.si-plus:before {
  content: "\e902";
}
.si-search:before {
  content: "\e903";
}
.si-user:before {
  content: "\e904";
}
