@font-face {
  font-family: 'stunicons';
  src:  url('stunicons.eot?r0518y');
  src:  url('stunicons.eot?r0518y#iefix') format('embedded-opentype'),
    url('stunicons.ttf?r0518y') format('truetype'),
    url('stunicons.woff?r0518y') format('woff'),
    url('stunicons.svg?r0518y#stunicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'stunicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.si-logo-github15stroke-18:before {
  content: "\e909";
}
.si-logo-github:before {
  content: "\e90a";
}
.si-youtube-16:before {
  content: "\e90b";
}
.si-logo-twitter:before {
  content: "\e90c";
}
.si-logo-facebook:before {
  content: "\e90d";
}
.si-logo-instagram:before {
  content: "\e90e";
}
.si-message:before {
  content: "\e90f";
}
.si-home:before {
  content: "\e910";
}
.folder:before {
  content: "\e911";
}
.si-arrow-bottom-left-o:before {
  content: "\e900";
}
.si-arrow-down:before {
  content: "\e901";
}
.si-chevron-down:before {
  content: "\e902";
}
.si-folder:before {
  content: "\e903";
}
.si-home1:before {
  content: "\e904";
}
.si-notification:before {
  content: "\e905";
}
.si-plus:before {
  content: "\e906";
}
.si-search:before {
  content: "\e907";
}
.si-vector:before {
  content: "\e908";
}
