$icomoon-font-family: "stunicon" !default;
$icomoon-font-path: "fonts" !default;

$si-arrow-bottom-left-o: "\e900";
$si-chevron-down: "\e901";
$si-folder: "\e902";
$si-plus: "\e903";
$si-search: "\e904";
$si-Vector: "\e905";

